.card-detail {
  margin: auto;
  padding: 20px;
  padding-bottom: 0;
}

.icon {
  width: 17px;
  height: 17px;
  margin-right: 10px;
}

.detail {
  display: flex;
  justify-content: start;
  padding: 3px;

}
