header {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.image-section {
  display: flex;
  width: 100%;
  background-image: url("img/main-photo.jpg");
  background-size: 100%;
  background-position: center 40%;
  background-repeat: no-repeat;
  color: white;
  font-family: 'Inknut Antiqua', serif;
  flex-grow: 1;
}

h1 {
  font-size: 58px;
  margin: 0;
  text-shadow: 4px 4px 5px gray;
  padding: 0 40px;
  line-height: 1.75;
}

.language-buttons {
  margin-top: 40px;
  margin-left: 230px;
  flex-shrink: 0;
}

.language-buttons__button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: #fc7620;
  color: white;
  font-weight: 600;
  margin-left: 10px;
}

.language-buttons__button--selected {
  border: 3px solid #fc7620;
  background-color: white;
  color: #fc7620;
}

.introduction {
  font-size: 22px;
  padding: 30px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}

.introduction p {
  margin-top: 0;
}

a {
  color: #fc7620;
  text-decoration: none;
}
